@import "tailwindcss";

:root {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(0.17 0.1 285.54);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: 'Outfit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.17 0.1 285.54);
    --foreground: oklch(98.5% 0 0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}
